<% if current_user %>
  <% if @card %>
    <div class="main-card-item">
      <div class="review-date">Дата: <%= @card.review_date.strftime "%d/%m/%Y" %></div>
      <%= image_tag @card.image.url.to_s %>
      <div class="original-text"><%= @card.original_text %></div>
      <%= form_tag check_card_path, class: "form check-card-form" do %>
        <%= text_field_tag "translated_text", nil, placeholder: "Перевод", class: "field" %>
        <%= hidden_field_tag "card_id", @card.id %>
        <%= hidden_field_tag "time_answer", "1" %>
        <%= button_tag "Проверить", class: "button" %>
      <% end %>
    </div>
  <% else %>
    <p>Карт на сегодня больше нет!</p>
  <% end %>
<% else %>
  <p>Войдите или зарегистрируйтесь</p>
<% end %>
<script type="text/javascript">
  setInterval(function(){
    $("#time_answer").val(parseInt($("#time_answer").val()) + 1);
  }, 1000);
</script>
