<h1>Регистрация</h1>
<div class="edit-form">
  <%= simple_form_for @user, html: { class: "form" } do |f| %>
    <%= f.input :email, placeholder: "E-mail" %>
    <%= f.input :password, placeholder: "Пароль" %>
    <%= f.input :password_confirmation, placeholder: "Подтвердите пароль" %>
    <%= f.button :submit, "Отправить", class: "button" %>
  <% end %>
</div>
