<h2>Создание флешкарты</h2>
<%= simple_form_for @card, html: { class: "form" } do |f| %>
  <%= f.input :original_text, placeholder: "Слово" %>
  <%= f.input :translated_text, placeholder: "Перевод" %>
  <%= f.input :image, as: :file %>
  <%= f.button :submit, "Сохранить" %>
<% end %>

