<div class="card-item show-card">
  <div class="review-date">
    Дата: <%= @card.review_date.strftime("%d/%m/%Y") %>
  </div>
  <%= image_tag @card.image.url(:thumb) %>
  <div class="words-wrap">
    <%= @card.original_text %> | <%= @card.translated_text %>
  </div>
  <div class="card-item__links">
    <%= link_to "Редактировать", edit_pack_card_path, class: "button green", title: "Редактировать" %>
    <%= link_to "Удалить", [@pack, @card], method: :delete, class: "button red", title: "Удалить" %>
  </div>
</div>
